/*FONTS*/
@font-face {
    font-family: 'AbhayaLibre-Bold';
    src: url(assets/fonts/AbhayaLibre-Bold.ttf);
}
@font-face {
    font-family: 'AbhayaLibre-Regular';
    src: url(assets/fonts/AbhayaLibre-Regular.ttf);
}
@font-face {
    font-family: 'Brown-Sugar';
    src: url(assets/fonts/Brown-Sugar.ttf);
}
@font-face {
    font-family: 'OpenSauceOne-Bold';
    src: url(assets/fonts/OpenSauceOne-Bold.ttf);
}
@font-face {
    font-family: 'OpenSauceSans-Bold';
    src: url(assets/fonts/OpenSauceSans-Bold.ttf);
}
@font-face {
    font-family: 'OpenSauceTwo-Bold';
    src: url(assets/fonts/OpenSauceTwo-Bold.ttf);
}

/* COLORS */
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --grey-color: #808080;
}


/* GENERAL CONFIG */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
}

html {
    scroll-behavior: smooth;
}

.img-label {
    font-family: 'AbhayaLibre-Regular';
    font-size: 18px;
    color: var(--white-color);
    line-height: 1;
}

/* LANDING SECTION */
.landing {
    width: 1240px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

@media (min-width: 1441px) {
    .landing {
        padding-top: 70px; 
    }
}

.landing-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.landing-container img {
    width: 540px;
    height: 800px;
    object-fit: cover;
    border-radius: 20px;
}

.landing-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.landing-body .header p {
    font-family: 'Brown-Sugar';
    font-size: 96px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.landing-body .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-body .footer .footer-text p {
    font-family: 'AbhayaLibre-Regular';
    font-size: 36px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.landing-body .footer .footer-text .Designation {
    font-family: 'AbhayaLibre-Regular';
    font-size: 28px;
    color: var(--white-color);
}

.landing-body .footer .work-with-me-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--white-color);
    border-radius: 25px;
}

.landing-body .footer .work-with-me-btn a {
    display: block; 
    width: 100%; 
    height: 100%; 
    font-family: 'OpenSauceSans-Bold';
    font-size: 18px;
    text-align: center; 
    text-decoration: none;
    color: var(--black-color);
    margin: 0;
    line-height: 50px; 
}

/* ABOUT ME SECTION */
.about-me {
    width: 1240px;
    max-width: 1440px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-me-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.about-me-container img {
    width: 540px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}

.about-me-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
}

.about-me-text .header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.about-me-text .body {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.about-me-text .header p {
    font-family: 'Brown-Sugar';
    font-size: 96px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.about-me-text .body p {
    font-family: 'AbhayaLibre-Regular';
    font-size: 24px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

/* WORK WITH ME BTN */
.work-with-me-btn-hover {
    width: 200px; 
    height: 50px; 
    position: fixed; 
    right: 20px; 
    bottom: 20px; 
    background-color: var(--white-color); 
    font-family: 'OpenSauceSans-Bold'; 
    font-size: 18px; 
    text-align: center;
    line-height: 50px; 
    color: var(--black-color);
    text-decoration: none; 
    border-radius: 25px; 
    transition: background-color 0.3s, transform 0.3s;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s; 
}   

.show-work-with-me-btn {
    opacity: 1;
    visibility: visible;
}

/* BEST WORK SECTION */
.best-work {
    width: 1240px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.best-work-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.best-work-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    gap: 25px;
}

.best-work-text .header {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.best-work-text .body {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.best-work-text .header p {
    font-family: 'Brown-Sugar';
    font-size: 82px;
    color: var(--white-color);
    text-align: right;
    margin: 0;
    line-height: 1;
}

.best-work-text .body p {
    margin: 0;
    line-height: 1;
    font-family: 'AbhayaLibre-Regular';
    font-size: 28px;
    color: var(--white-color);
    text-align: right;
}

.best-work img {
    width: 870px;
    height: 580px;
    object-fit: fill;
    border-radius: 20px;
}

/* PREVIOUS WORK SECTION */
.previous-work {
    width: 1240px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.previous-work-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 5px;
}

/* PAGE-1 */
.page-1 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-1 .img-4 {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
}

.page-1 .img-4 .header {
    padding-bottom: 15px;
}

.page-1 .img-4 .header p {
    font-family: 'Brown-Sugar';
    font-size: 96px;
    margin: 0;
    line-height: 1;
    color: var(--white-color);
    text-align: left;
}

.page-1 .img-4 img {
    width: 650px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}
.page-1 .img-5 {
    display: flex;
    flex-direction: column;
}

.page-1 .img-5 img {
    width: 530px;
    height: 630px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-2 */
.page-2 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 50px;
}

.page-2 .img-6 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    gap: 180px;
}

.page-2 .img-6 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.page-2 .img-7 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    gap: 180px;
}

.page-2 .img-7 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-3 */
.page-3 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 50px;
}

.page-3 .img-8 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    gap: 180px;
}

.page-3 .img-8 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.page-3 .img-9 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    gap: 180px;
}

.page-3 .img-9 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-4 */
.page-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.page-4 .img-10 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.page-4 .img-10 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.page-4 .img-11-12 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.page-4 .img-11-12 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-5 */
.page-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.page-5 .img-13-14 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.page-5 .img-13-14 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.page-5 .img-15 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.page-5 .img-15 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-6 */
.page-6 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.page-6 .img-16-17-18 {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-6 .img-16-17-18 img {
    width: 395px;
    height: 590px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-7 */
.page-7 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.page-7 .img-19-20-21 {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-7 .img-19-20-21 img {
    width: 395px;
    height: 590px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-8 */

.page-8 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.page-8 .img-22-23-24 {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-8 .img-22-23-24 img {
    width: 395px;
    height: 590px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-9 */
.page-9 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.page-9 .img-25-26-27 {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-9 .img-25-26-27 img {
    width: 395px;
    height: 590px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-10 */

.page-10 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.page-10 .img-28-29-30 {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-10 .img-28-29-30 img {
    width: 395px;
    height: 590px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-11 */
.page-11 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.page-11 .img-31-32-33 {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-11 .img-31-32-33 img {
    width: 395px;
    height: 590px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-12 */
.page-12 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-12 .img-34 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.page-12 .img-34 img {
    width: 800px;
    height: 530px;
    object-fit: cover;
    border-radius: 20px;
}

.page-12 .img-35 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.page-12 .img-35 img {
    width: 395px;
    height: 590px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-13 */
.page-13 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.page-13 .img-36 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.page-13 .img-36 img {
    width: 395px;
    height: 590px;
    object-fit: cover;
    border-radius: 20px;
}

.page-13 .img-37 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.page-13 .img-37 img {
    width: 800px;
    height: 530px;
    object-fit: cover;
    border-radius: 20px;
}

/* PAGE-14 */
.page-14 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-14 .img-38 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.page-14 .img-38 img {
    width: 905px;
    height: 605px;
    object-fit: cover;
    border-radius: 20px;
}

/* EXPERIENCE SECTION */
.experience {
    width: 1240px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.experience-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.experience-container img {
    width: 540px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}

.experience-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}

.experience-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 25px;
}

.education-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 25px;
}

.experience-text .header {
    font-family: 'Brown-Sugar';
    font-size: 78px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.experience-text .body .body-header {
    font-family: 'OpenSauceSans-Bold';
    font-size: 28px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.experience-text .body .body-text {
    font-family: 'AbhayaLibre-Regular';
    font-size: 20px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

/* GET IN TOUCH SECTION */
.get-in-touch {
    width: 1240px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.get-in-touch-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.get-in-touch-container img {
    width: 540px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}

.get-in-touch-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
}

.get-in-touch-text .header {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.get-in-touch-text .header p {
    font-family: 'Brown-Sugar';
    font-size: 96px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.get-in-touch-text .body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 50px;
}

.get-in-touch-text .title {
    font-family: 'OpenSauceSans-Bold';
    font-size: 28px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.get-in-touch-text a {
    font-family: 'AbhayaLibre-Regular';
    font-size: 20px;
    color: var(--white-color);
    text-decoration: underline;
    margin: 0;
    line-height: 1;
}

/* FOOTER */
.footer {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-container p {
    font-family: 'AbhayaLibre-Regular';
    font-size: 18px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}


