/*FONTS*/
@font-face {
    font-family: 'AbhayaLibre-Bold';
    src: url(assets/fonts/AbhayaLibre-Bold.ttf);
}
@font-face {
    font-family: 'AbhayaLibre-Regular';
    src: url(assets/fonts/AbhayaLibre-Regular.ttf);
}
@font-face {
    font-family: 'Brown-Sugar';
    src: url(assets/fonts/Brown-Sugar.ttf);
}
@font-face {
    font-family: 'OpenSauceOne-Bold';
    src: url(assets/fonts/OpenSauceOne-Bold.ttf);
}
@font-face {
    font-family: 'OpenSauceSans-Bold';
    src: url(assets/fonts/OpenSauceSans-Bold.ttf);
}
@font-face {
    font-family: 'OpenSauceTwo-Bold';
    src: url(assets/fonts/OpenSauceTwo-Bold.ttf);
}

/* COLORS */
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --grey-color: #808080;
}


/* GENERAL CONFIG */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
}

html {
    scroll-behavior: smooth;
}

.img-label {
    font-family: 'AbhayaLibre-Regular';
    font-size: 18px;
    color: var(--white-color);
    line-height: 1;
}

/* LANDING SECTION */
.landing-section {
    width: 1240px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

@media (min-width: 1441px) {
    .landing-section {
        padding-top: 70px; 
    }
}

.landing-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.landing-container img {
    width: 540px;
    height: 800px;
    object-fit: cover;
    border-radius: 20px;
}

.landing-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.landing-body .header p {
    font-family: 'Brown-Sugar';
    font-size: 96px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.landing-body .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-body .footer .footer-text p {
    font-family: 'AbhayaLibre-Regular';
    font-size: 36px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.landing-body .footer .footer-text .Designation {
    font-family: 'AbhayaLibre-Regular';
    font-size: 28px;
    color: var(--white-color);
}

.landing-body .footer .work-with-me-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--white-color);
    border-radius: 25px;
}

.landing-body .footer .work-with-me-btn a {
    display: block; 
    width: 100%; 
    height: 100%; 
    font-family: 'OpenSauceSans-Bold';
    font-size: 18px;
    text-align: center; 
    text-decoration: none;
    color: var(--black-color);
    margin: 0;
    line-height: 50px; 
}

/* ABOUT ME SECTION */

.about-me {
    width: 1240px;
    max-width: 1440px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-me-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.about-me-container img {
    width: 540px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}

.about-me-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
}

.about-me-text .header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.about-me-text .body {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.about-me-text .header p {
    font-family: 'Brown-Sugar';
    font-size: 96px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

.about-me-text .body p {
    font-family: 'AbhayaLibre-Regular';
    font-size: 24px;
    color: var(--white-color);
    margin: 0;
    line-height: 1;
}

/* WORK WITH ME BTN */
.work-with-me-btn-hover {
    width: 200px; 
    height: 50px; 
    position: fixed; 
    right: 20px; 
    bottom: 20px; 
    background-color: var(--white-color); 
    font-family: 'OpenSauceSans-Bold'; 
    font-size: 18px; 
    text-align: center;
    line-height: 50px; 
    color: var(--black-color);
    text-decoration: none; 
    border-radius: 25px; 
    transition: background-color 0.3s, transform 0.3s;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s; 
}   

.show-work-with-me-btn {
    opacity: 1;
    visibility: visible;
}

/* BEST WORK SECTION */
.best-work {
    width: 1240px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.best-work-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.best-work-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    gap: 25px;
}

.best-work-text .header {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.best-work-text .body {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.best-work-text .header p {
    font-family: 'Brown-Sugar';
    font-size: 82px;
    color: var(--white-color);
    text-align: right;
    margin: 0;
    line-height: 1;
}

.best-work-text .body p {
    margin: 0;
    line-height: 1;
    font-family: 'AbhayaLibre-Regular';
    font-size: 28px;
    color: var(--white-color);
    text-align: right;
}

.best-work img {
    width: 870px;
    height: 580px;
    object-fit: fill;
    border-radius: 20px;
}

/* PREVIOUS WORK SECTION */
.previous-work {
    width: 1240px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.previous-work-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
}

.previous-work-1 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.previous-work-1 .header-img-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
}

.previous-work-1 .header-img-container .header {
    padding-bottom: 15px;
}

.previous-work-1 .header-img-container .header p {

    font-family: 'Brown-Sugar';
    font-size: 96px;
    margin: 0;
    line-height: 1;
    color: var(--white-color);
    text-align: left;
}

.previous-work-1 .header-img-container img {
    width: 650px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}
.previous-work-1 .img-2 {
    display: flex;
    flex-direction: column;
}

.previous-work-1 .img-2 img {
    width: 530px;
    height: 630px;
    object-fit: cover;
    border-radius: 20px;
}


